@import "../../css/variables";

.headshot {
  margin: 1rem;
  margin-bottom: 2rem;
  @media screen and (min-width: 1024px) {
    float: left;
    top: 0.4em;
    width: 200px;
    margin: 0 1em 1em 0;
  }
}
